/* GENERAL */
* {
    font-family: Roboto Condensed;
    font-style: oblique;
}

ul,
ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

p {
    font-size: 20px;
}

img {
    max-width: 100%;
}


/* HEADER */
header {
    background-image: url(../img/wall.png);
    background-size: 50%;
}

header h1 {
    font-size: 120px;
}


/* MAIN */
main {
    background-image: url(../img/cork.png);
}

.card {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.pin {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.preview {
    z-index: 10;
    position: fixed;
    right:0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
}