/* GENERAL */
* {
    font-family: Roboto Condensed;
    font-style: oblique;
}

ul,
ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

p {
    font-size: 20px;
}

img {
    max-width: 100%;
}


/* HEADER */
header {
    background-image: url(../img/wall.png);
}

header h1 {
    font-size: 120px;
}


/* MAIN */
main {
    background-image: url(../img/cork.png);
}

.card {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    transition: 0.2s;
}

.card:hover {
    transform: rotate(10deg);
    cursor: pointer;
}

.pin {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.preview {
    z-index: 10;
    position: fixed;
    width: 100vw;
    height: 100vh;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-figure {
    min-width: 300px;
    padding: 40px;
}

#btn-close{
    position: absolute;
    top: 20px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: white;
}

#btn-close::before,
#btn-close::after{
    content: "";
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 2px;
}

#btn-close::before{
    transform: translate(-50%, -50%) rotate(45deg);
}
#btn-close::after{
    transform: translate(-50%, -50%) rotate(-45deg);
}



/* UTILITIES */
.d-none {
    display: none;
}