/* GENERAL */
ul,
ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}



/* HEADER */
header {
    background-image: url(../img/wall.png);
    background-size: 50%;
}

header h1 {
    font-size: 80px;
    font-style: oblique;
}
